snippet cl "console.log"
console.log(${0})
endsnippet

snippet func "Function Declaration" b
function ${1:functionName}(${2:args}) {
    ${3:// body}
}
endsnippet

snippet "try" "try catch" r
try {
  $1
} catch (err) {
	console.log(err)
}
endsnippet

snippet "tryf" "try catch" r
try {
  $1
} catch (err) {
	console.log(err)
} finally {
	$0
}
endsnippet

snippet efi "Immediately Invoked Function Expression (IIFE)"
(async function() {
	$1
})();
endsnippet
